body {
    background-image: url('../../Assets/fondoindex.png');
    
    background-size: cover

}

.switch-wrapper {
    position: relative;
  }
  
  .switch-wrapper > div {
    position: absolute;
  }
  